

<%= render 'users/home'%>

<br>
<br>
<br>
<br>
<br>

<!-- <div class="gigs">
  <h1>Gigs</h1>
</div> -->

<%= render 'form' %>

<div class="gigDiv">

<form method="POST" action="/gigs">
     <input name="_method" value="DELETE" type="hidden">
     <button>Delete</button>
     </form>

<% @gigs.each do |gig| %>

  <div class="gigs">

   <div class="gigTitle"><%= link_to gig.title, gig_path(gig) %> posted by <%= gig.user.first_name %></div>

   <!-- <div><%=gig.body%></div> -->

  </div>


<% end %>
</div>



