

  <h1 class="animated fadeInRight">
   Posted by <%= @gig.user.first_name %> <%= @gig.user.last_name %>
  </h1>

  <p class="animated fadeInLeft">Email: <%= @gig.user.email %></p>

  <p class="animated fadeInLeft">Gig type: <%=@gig.gig_type %></p>

  <p class="animated fadeInRight">Gig time: <%=@gig.time%></p>

  <p class="animated fadeInLeft" id="gigBody"> <%= @gig.body %> </p>

</div>

<% current_user %>
<% if @current_user.id == @gig.user_id %>
<div class="deleteGig">
   <%= link_to 'Delete', @gig, method: :delete, data: {confirm: 'Are you sure?'} %>
</div>

<% end %>


<div class="animated fadeInUp" id="message_send"> Send <%=@gig.user.first_name %> a message
  <input name="message_title" type="text" placeholder="Title">
  <input name="message_body" type="text" placeholder="Message">
  <button>Send</button>
 </div>



