
<h1 class="animated fadeInRight">
 Posted by <%= @gig.user.first_name %> <%= @gig.user.last_name %>
</h1>

<p class="animated fadeInLeft">Email: <%= @gig.user.email %></p>

<p class="animated fadeInLeft">Gig type: <%=@gig.gig_type %></p>

<p class="animated fadeInLeft"> <%= @gig.body %> </p>

<div class="animated fadeInUp" id="message_send"> Send <%=@gig.user.first_name %> a message
  <input name="message_send" type="text">
  <button>Send</button> </div>

