<!DOCTYPE html>
<html>
<head>
  <title>GiggityApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="animated fadeInDown">

    <% if current_user %>
  <div class="homeLink">
    <%= link_to 'Home', gigs_path %>
  </div>

  <div class="logoutLink">
      <%= link_to("Logout", "/logout", method: :delete) %>
  </div>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
